@using Gimpies_Blazor1.Database.Models.Entities
@using Gimpies_Blazor1.Database.Data
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext DbContext
@inject NavigationManager Navigation
@inject IDialogService DialogService
@rendermode InteractiveServer

<MudDialog>
    <DialogContent>
        @if (ActionType == "SellShoe")
        {
            <p>Hoeveel paar @Shoe.Unit.ToString() @Shoe.Brand.BrandName @Shoe.Model.ModelName wil je verkopen?</p>
            <MudTextField @bind-Value="Quantity" Label="Aantal" Type="number" Required="true" Min="0" />
        }
        else if (ActionType == "BuyShoe")
        {
            <p>Hoeveel paar @Shoe.Brand.BrandName @Shoe.Model.ModelName wil je inkopen?</p>
            <MudTextField @bind-Value="Quantity" Label="Aantal" Type="number" Required="true" Min="0" />
        }
        else if (ActionType == "DeleteShoe")
        {
            <p>Weet je zeker dat je @Shoe.Brand.BrandName @Shoe.Model.ModelName wilt verwijderen?</p>
        }
        else if (ActionType == "AddShoe")
        {

            <MudSelect @bind-Value="newShoe.Brand.BrandName" Label="Brand" Required="true">
                @if (brands == null || brands.Count == 0)
                {
                    <MudText Typo="Typo.h6">Merknamen laden...</MudText>
                }
                else
                {
                    @foreach (var brand in brands)
                    {
                        <MudSelectItem Value="brand.BrandName">@brand.BrandName</MudSelectItem>
                    }
                }
            </MudSelect>
            <MudSelect @bind-Value="newShoe.Model.ModelName" Label="Model" Required="true">
                @if (models == null || models.Count == 0)
                {
                    <MudText Typo="Typo.h6">Modellen laden...</MudText>
                }
                else
                {
                    @foreach (var model in models)
                    {
                        <MudSelectItem Value="model.ModelName">@model.ModelName</MudSelectItem>
                    }
                }
            </MudSelect>
            <MudSelect @bind-Value="newShoe.Colour.ColourName" Label="Colour" Required="true">
                @if (colours == null || colours.Count == 0)
                {
                    <MudText Typo="Typo.h6">Kleuren laden...</MudText>
                }
                else
                {
                    @foreach (var colour in colours)
                    {
                        <MudSelectItem Value="colour.ColourName">@colour.ColourName</MudSelectItem>
                    }
                }
            </MudSelect>
            <MudSelect @bind-Value="newShoe.Size.SizeValue" Label="Size" Required="true">
                @if (sizes == null || sizes.Count == 0)
                {
                    <MudText Typo="Typo.h6">Maten laden...</MudText>
                }
                else
                {
                    @foreach (var size in sizes)
                    {
                        <MudSelectItem Value="size.SizeValue">@size.SizeValue</MudSelectItem>
                    }
                }
            </MudSelect>
            <MudNumericField @bind-Value="newShoe.Value" Label="Prijs (€)" T="decimal" required="true" Min="0" Step="0.001m" />
        }
        else if (ActionType == "EditShoe")
        {
            <MudSelect @bind-Value="shoeToEdit.Brand.BrandName" Label="Merk" Required="true">
                @if (brands == null || brands.Count == 0)
                {
                    <MudText Typo="Typo.h6">Merknamen laden...</MudText>
                }
                else
                {
                    @foreach (var brand in brands)
                    {
                        <MudSelectItem Value="brand.BrandName">@brand.BrandName</MudSelectItem>
                    }
                }
            </MudSelect>
            <MudSelect @bind-Value="shoeToEdit.Model.ModelName" Label="Model" Required="true">
                @if (models == null || models.Count == 0)
                {
                    <MudText Typo="Typo.h6">Modellen laden...</MudText>
                }
                else
                {
                    @foreach (var model in models)
                    {
                        <MudSelectItem Value="model.ModelName">@model.ModelName</MudSelectItem>
                    }
                }
            </MudSelect>
            <MudSelect @bind-Value="shoeToEdit.Colour.ColourName" Label="Kleur" Required="true">
                @if (colours == null || colours.Count == 0)
                {
                    <MudText Typo="Typo.h6">Kleuren laden...</MudText>
                }
                else
                {
                    @foreach (var colour in colours)
                    {
                        <MudSelectItem Value="colour.ColourName">@colour.ColourName</MudSelectItem>
                    }
                }
            </MudSelect>
            <MudSelect @bind-Value="shoeToEdit.Size.SizeValue" Label="Maat" Required="true">
                @if (sizes == null || sizes.Count == 0)
                {
                    <MudText Typo="Typo.h6">Maten laden...</MudText>
                }
                else
                {
                    @foreach (var size in sizes)
                    {
                        <MudSelectItem Value="size.SizeValue">@size.SizeValue</MudSelectItem>
                    }
                }
            </MudSelect>
            <MudNumericField @bind-Value="shoeToEdit.Value" Label="Prijs (€)" T="decimal" Required="true" Min="0" Step="0.001m" />
        }
        else if (ActionType == "AddUser")
        {
            @if (roles == null || roles.Count == 0)
            {
                <MudText Typo="Typo.h6">Functies laden...</MudText>
            }
            else
            {
                <MudTextField @bind-Value="newUser.Username" Label="Gebruikersnaam" Required="true" />
                <MudTextField @bind-Value="newUser.PasswordHashed" Label="Wachtwoord" Required="true" />
                <MudSelect @bind-Value="newUser.fk_UserRoleID" Label="Rol" Required="true">
                    @foreach (var role in roles)
                    {
                        <MudSelectItem Value="role.RoleId">@role.RoleName</MudSelectItem>
                    }
                </MudSelect>
            }
        }
        else if (ActionType == "EditUser")
        {
            @if (roles == null || roles.Count == 0)
            {
                <MudText Typo="Typo.h6">Functies laden...</MudText>
            }
            else
            {
                <MudTextField @bind-Value="newUser.Username" Label="Gebruikersnaam" Required="true" />
                <MudTextField @bind-Value="newUser.PasswordHashed" Label="Wachtwoord" Required="true" />
                <MudSelect @bind-Value="newUser.fk_UserRoleID" Label="Rol" Required="true">
                    @foreach (var role in roles)
                    {
                        <MudSelectItem Value="role.RoleId">@role.RoleName</MudSelectItem>
                    }
                </MudSelect>
            }

        }
        else if (ActionType == "DeleteUser")
        {
            <p>Weet je zeker dat je @newUser.Username wilt verwijderen?</p>
        }
        else
        {
            <h3>Onbekend</h3>
            <p>Hoe ben je hier gekomen?...</p>
        }

    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Submit" Color="Color.Primary">@ButtonText</MudButton>
        <MudButton OnClick="Cancel" Color="Color.Secondary">Annuleren</MudButton>
    </DialogActions>
</MudDialog>


