@page "/addShoe"

@using Gimpies_Blazor1.Database.Data
@using Gimpies_Blazor1.Database.Models.Entities
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext DbContext
@inject NavigationManager Navigation
@inject IDialogService DialogService
@rendermode InteractiveServer

<PageTitle>Nieuwe schoen toevoegen</PageTitle>

<AuthorizeView Policy="@UserPolicy.Add_Shoes">
    <Authorized Context="authContext">
        <h3>Schoenen toevoegen</h3>

        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger">
                @errorMessage
            </div>
        }

        <EditForm Model="@newShoe" Context="AddShoe" OnValidSubmit="HandleAddShoe">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="mb-3">
                <label>Merk</label>
                <InputText id="brand" class="form-contorl" @bind-Value="@newShoe.Brand.BrandName" />
            </div>

            <div class="mb-3">
                <label>Model</label>
                <InputText id="model" class="form-contorl" @bind-Value="@newShoe.Model.ModelName" />
            </div>

            <div class="mb-3">
                <label>Kleur</label>
                <InputText id="colour" class="form-contorl" @bind-Value="newShoe.Colour.ColourName" />
            </div>

            <div class="mb-3">
                <label>Maat</label>
                <InputNumber id="size" class="form-contorl" @bind-Value="@newShoe.Size.SizeValue" Min="34" Max="50" />
            </div>

            <div class="mb-3">
                <label>Prijs</label>
                <InputNumber id="value" class="form-contorl" @bind-Value="@newShoe.Value" />
            </div>

            <button type="submit" class="btn btn-primary">Toevoegen</button>
            <button type="button" class="btn btn-primary" @onclick="ReturnToOverview">Annuleren</button>
        </EditForm>

    </Authorized>
  
    <NotAuthorized Context="authContext">
        <h3>Toegang Geweigerd</h3>
        <p>U heeft niet de juiste rechten om deze pagina te bekijken. Neem contact op met de beheerder als u denkt dat dit een fout is.</p>
    </NotAuthorized>
</AuthorizeView>


