@page "/userOverview"
@using Gimpies_Blazor1.Database.Data
@using Gimpies_Blazor1.Database.Models.Entities
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext DbContext
@inject NavigationManager Navigation
@rendermode InteractiveServer

<PageTitle>Gebruikersoverzicht</PageTitle>


<h3>Gebruikersoverzicht</h3>


<AuthorizeView Policy="@UserPolicy.View_Users">
    <ChildContent>

        @if (users == null)
        {
            <p>Het overzicht wordt geladen...</p>
        }

        else if (users.Count == 0)
        {
            <p>Er zijn geen medewerkers</p>
            <AuthorizeView Policy="@UserPolicy.Add_Users">
                <ChildContent Context="AddUsersIfEmptyContext">
                    <button type="button" class="btn btn-primary" @onclick="OpenAddUserDialog">Medewerker toevoegen</button>
                </ChildContent>
            </AuthorizeView>
        }
        else
        {
            <table class=" table">
                <thead>
                    <tr>
                        <th>Gebruikersnaam</th>
                        <th>Wachtwoord</th>
                        <th>Rol</th>
                        <AuthorizeView Policy="@UserPolicy.Edit_Users">
                            <ChildContent Context="editUserContext">
                                <th></th>
                            </ChildContent>
                        </AuthorizeView>
                        <AuthorizeView Policy="@UserPolicy.Delete_Users">
                            <ChildContent Context="deleteUserContext">
                                <th></th>
                            </ChildContent>
                        </AuthorizeView>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in users)
                    {
                        <tr>
                            <td>@user.Username</td>
                            <td>@user.PasswordHashed</td>
                            <td>@user.Role.RoleName</td>
                            <AuthorizeView Policy="@UserPolicy.Edit_Users">
                                <ChildContent Context="editUserContext">
                                    <MudButton Color="Color.Error" Variant="Variant.Filled" OnClick="() => OpenEditUserDialog(user)">Bewerken</MudButton>
                                </ChildContent>
                            </AuthorizeView>
                            <AuthorizeView Policy="@UserPolicy.Delete_Users">
                                <ChildContent Context="deleteUserContext">
                                    <MudButton Color="Color.Error" Variant="Variant.Filled" OnClick="() => OpenDeleteUserDialog(user)">Verwijderen</MudButton>
                                </ChildContent>
                            </AuthorizeView>
                        </tr>
                    }
                </tbody>
            </table>
            <AuthorizeView Policy="@UserPolicy.Add_Users">
                <ChildContent Context="AddUserFooterContext">
                    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="OpenAddUserDialog">Medewerker toevoegen</MudButton>
                </ChildContent>
            </AuthorizeView>
        }
    </ChildContent>
</AuthorizeView>

